.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 10px;
  font-weight: 500;
}

.box--small {
  font-size: small;
  width: 200px;
  height: 50px;
}

.box--medium {
  font-size: medium;
  width: 400px;
  height: 100px;
}

.box--larger {
  font-size: xx-large;
  width: 600px;
  height: 150px;
}
